certifi==2022.9.24
cffi==1.15.1
charset-normalizer==2.1.1
ecdsa==0.18.0
idna==3.4
pyasn1==0.4.8
pycparser==2.21
PyNaCl==1.5.0
python-jose==3.3.0
python-keycloak==2.6.0
requests==2.28.1
requests-toolbelt==0.9.1
rsa==4.9
six==1.16.0
tornado==6.2
urllib3==1.26.12
